.navbar {
  background-color: #ffffff;
  padding: .5rem 9rem .5rem 9rem;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  }
  
  .navbar-container {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 60%;
    /* padding-bottom: 6px; */
  }
  
  .navbar-logo .logo {
    height: 4rem;
    /* position: relative; */
    margin-bottom: 0px;
    width: 10rem;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
  }
  
  .navbar-item {
    margin-left: 2rem;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    transition: color 0.3s ease;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
  }
  
  .navbar-link:hover {
    color: #2926a4;
  }
  
  .navbar-buttons {
    display: flex;
    align-items: center;
  }
  
  .navbar-btn {
    padding: 0.5rem 1rem;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .register-btn {
    background-color: #6c63ff;
  }
  
  .register-btn:hover {
    background-color: #5a54e7;
  }
  
  .quote-btn {
    background-color: transparent;
    border: 1px solid #6c63ff;
    padding: 0.5rem 1.25rem;
  }
  
  .quote-btn:hover {
    background-color: #6c63ff;
  }
  